.github-contact {
  display: flex;
  justify-content: center;
  gap: 60px;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
  padding-top: 50px;
}

.card-container {
  display: flex;
  gap: 50px;
}

@media (max-width: 1024px) {
  .github-contact {
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .github-contact {
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 600px) {
  .card-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    flex: 2 1 100%;
    max-width: 300px;
  }
}

.card {
  --font-color: #000000;
  --font-color-sub: #000000;
  --bg-color: #dddddd8e;
  --main-color: #000;
  width: 200px;
  height: 254px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-photo {
  transform: scale(0.3) translate(220px, 230px);
  transform-origin: center;
  transition: 1s;
  width: 250px;
  height: 250px;
  margin-left: -125px;
  margin-top: -125px;

  background-color: #cccccc;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  display: block;
}
#foto1 {
  background-image: url("https://avatars.githubusercontent.com/u/144891032?v=4");
}
#foto2 {
  background-image: url("https://avatars.githubusercontent.com/u/66728542?v=4");
}
#foto3 {
  background-image: url("https://avatars.githubusercontent.com/u/144890877?v=4");
}
#foto4 {
  background-image: url("https://avatars.githubusercontent.com/u/144891108?v=4");
}

.card-title {
  text-align: center;
  color: var(--font-color);
  font-size: 22px;
  font-weight: 400;
  font-family: "Lexend", sans-serif;
}

.card-title span {
  font-size: 15px;
  color: var(--font-color-sub);
}

.card-socials {
  display: flex;
  height: 0;
  opacity: 0;
  margin-top: 20px;
  gap: 20px;
  transition: 0.5s;
}

.card-socials-btn {
  width: 35px;
  height: 35px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.card-socials-btn svg {
  width: 100%;
  height: 100%;
  fill: var(--main-color);
}

.card:hover > .card-socials {
  opacity: 1;
  height: 35px;
}

.card-socials-btn:hover {
  transform: translateY(-5px);
  transition: 1s;
}

.card-photo:hover {
  transition: 0.3s;
  transform: scale(0.4) translate(160px, 150px);
}

.last-update {
  position: absolute;
  font-family: "Monomaniac One", "Lexend", sans-serif;
  bottom: 5px;
  left: 30px;
  font-size: 20px;
  color: #00000092;
  transition: color 0.5s;

  &:hover {
    color: #000000;
  }
}
