/* USED FOR GENERAL VARIABLES (Colors, fonts, sizes, timings...) AND CUSTOM STYLE CLASSES (Tailwind-like) */

* {
  box-sizing: border-box;
  z-index: 0;
}

html {
  display: block;
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  z-index: 0;
}

body {
  margin: 0 !important;
}

/* DEBUGGING */
.debug {
  border: red 3px solid !important;
}

/* FONTS */

@font-face {
  font-family: "Monomaniac One";
  font-style: normal;
  font-display: fallback;
  src:
    url("assets/fonts/Monomaniac_One/MonomaniacOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lexend";
  font-style: normal;
  font-display: fallback;
  src:
    url("assets/fonts/Lexend/Lexend-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Paytone One";
  font-style: normal;
  font-display: fallback;
  src:
    url("assets/fonts/Paytone_One/PaytoneOne-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nanum Pen";
  font-style: normal;
  font-display: fallback;
  src:
    url("assets/fonts/Nanum_Pen_Script/NanumPenScript-Regular.ttf") format("truetype");
}

/* GENERAL STYLES */

main {
  overflow-x: hidden;
  margin: 0;
  margin-top: 7rem;
}

/*LOGO*/

#logo {
  position: fixed;
  top: 1rem;
  left: 1.5rem;
  transition: transform 0.3s;
  z-index: 111;

  a {
    user-select: none;
  }

  &:hover {
    transform: scale(1.1);
  }

  &>a:focus {
    outline: none;
  }

  &:has(a:focus) {
    border: black 2px solid;
    border-radius: 3px;
  }
}

#hamburguer-button {
  cursor: pointer;
  position: fixed;
  top: 1.9rem;
  right: -100rem;
  transition: 0.3s;
  z-index: 111;

  &.visible {
    right: 1.9rem;
  }
}

#menu {
  position: fixed;
  top: 5.2rem;
  right: -50rem;
  width: fit-content;
  padding: 2rem 3rem;
  text-align: center;
  background-color: #93bbc450;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  z-index: 110;
  transition: 0.3s ease;
  opacity: 0.2;
  
  &.visible {
    right: 1.9rem !important;
    opacity: 1 !important;
  }

  a {
    display: block;
    font-family: "Monomaniac One";
    text-decoration: none;
    color: black;
    font-size: clamp(1.1rem, 3vw, 1.6rem);
    letter-spacing: 0.05em;
    transform-origin: center;
    transform: scale(1);
    transition: transform 0.3s;
  }

  a:hover {
    transform: scale(1.15);
  }
}

#transparent-div {
  z-index: 1;
  display: none;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;

  &.visible {
    display: block !important;
  }
}

/*HEADER*/

header {
  position: fixed;
  width: 100vw;
  padding: 1.5rem 1rem 0;
  height: min-content;
  display: flex;
  inset: 0;
  z-index: 100;
  transition: transform 0.2s cubic-bezier(.16, .92, .68, .97);
  transform: translateY(0);

  .header-content {
    font-family: 'Monomaniac One', 'Lexend', 'Arial', sans-serif;
    overflow: hidden;
    align-items: center;
    display: flex;
    gap: 2rem;
    width: 100%;
    margin-right: 1rem;
    justify-content: right;

    a {
      text-decoration: none;
      color: black;
      font-size: 1.4rem;
      letter-spacing: 0.05em;
      transform-origin: center;
      transition: 0.3s;

      img {
        padding-top: 7px;
      }

      &:hover {
        transform: scale3d(1.08, 1.08, 1.08);
      }
    }
  }

  &.hidden {
    transform: translateY(-110%);
  }
}

/* FOOTER */

footer {
  position: fixed;
  bottom: 1.2rem;
  right: 2rem;

  img {
    user-select: none;
    filter: drop-shadow(0.15rem 0.15rem 0.1rem #00000020);
    position: relative;
  }

  &::before {
    content: "MAP";
    position: absolute;
    font-family: 'Lexend', 'Arial', sans-serif;
    font-size: 1.1rem;
    opacity: 0;
    top: 60%;
    left: 50%;
    transform: translate(-53%, -80%);
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  &:hover::before {
    opacity: 1;
    transition-delay: 0s;
    top: -10%;
  }

}

/* Class for  map icon animation */
.map-icon-animation {
  animation: pulse 1.2s infinite forwards;
}

@keyframes pulse {

  to,
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

/* COMMON STYLES */

.section-title {
  margin: 0;
  font-family: 'Paytone One', 'Lexend', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  font-size: 2.5rem;
  line-height: 5rem;
  letter-spacing: 0.05em;
  color: #CE6B4F;
}

.gradient-text {
  margin: 0;
  margin-bottom: -1%;
  text-align: center;
  font-family: 'Paytone One', 'Lexend', 'Arial', sans-serif;
  font-size: clamp(2.5rem, 4vw, 4.5rem) !important;
  letter-spacing: 0.06em;
  line-height: 122%;
  background: linear-gradient(93.69deg, #35ADE1 1.5%, #4FA1D4 21.54%, #C579AC 50.38%, #DE4E9A 95.85%, #FF2F93 99.27%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content-text {
  margin: 0;
  font-family: 'Lexend', 'Arial', sans-serif;
  font-size: clamp(1.2rem, 1.6vw, 2.2rem);
  font-weight: 500;
  text-align: center;
}

.page-title {
  margin: 0;
  padding-inline: 2rem;
  font-family: 'Monomaniac One', 'Lexend', 'Arial', sans-serif;
  text-transform: uppercase;
  font-size: clamp(2.5rem, 8vw, 4rem) !important;
  text-align: center;
  color: black;
}

.hero {

  .hero-image {
    position: relative;
  }

  .loader {
    position: absolute;
    display: flex;
    align-items: center;
    border-radius: 30px;
    background: #ffffff70;
    backdrop-filter: blur(10px);
    padding-inline: 0.7rem 1rem;
    bottom: 18px;
    left: 14px;
    min-height: 37px;
    max-height: 37px;

    h4 {
      margin: 0;
      font-family: 'Lexend', 'Arial', sans-serif;
      font-weight: 500;
      font-size: 1.2rem;
      transition: all 1s 0.5s;
      padding-left: 0.7rem;
    }
  }

  .hero-title {
    pointer-events: none;
    position: absolute;
    object-fit: contain;
    width: 85%;
    top: 50%;
    left: 50%;
    min-width: 300px;
    transform: translate(-50%, -50%);
  }
}

@keyframes hide {
  to {
    opacity: 0;
    transform: scale(0);
  }
}

a[tooltip] {
  position: relative;

  &::after {
    z-index: -1;
    content: attr(tooltip);
    font-family: 'Lexend', 'Arial', sans-serif;
    font-size: 0.9rem;
    position: absolute;
    background: radial-gradient(#ffffff50, #ffffff35);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    padding: 3px;
    color: #000;
    opacity: 0;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s 0s ease-in-out;
  }

  &:not(.rotating):hover::after {
    transition-duration: 0.8s;
    transition-timing-function: cubic-bezier(1, -0.3, 1, .92);
    opacity: 1;
  }
}

/* Media query to show the header on mobile devices */
@media (width < 600px) {

  header {
    display: none;
  }

  #hamburguer-button {
    right: 1.9rem !important;
  }
}