
/* USED FOR GENERAL VARIABLES (Colors, fonts, sizes, timings...) AND CUSTOM STYLE CLASSES (Tailwind-like) */

* {
  box-sizing: border-box;
}

html {
  display: block;
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
    margin: 0 !important;
}

/* DEBUGGING */
.debug {
  border: red 3px solid;
}

/* FONTS */

@font-face { 
    font-family: "Monomaniac One";
    font-style: normal;
    font-display: fallback;
    src: 
      url("assets/fonts/Monomaniac_One/MonomaniacOne-Regular.ttf") format("truetype");
  }
  
@font-face { 
    font-family: "Lexend";
    font-style: normal;
    font-display: fallback;
    src: 
      url("assets/fonts/Lexend/Lexend-VariableFont_wght.ttf") format("truetype");
  }
  
@font-face { 
    font-family: "Paytone One";
    font-style: normal;
    font-display: fallback;
    src: 
      url("assets/fonts/Paytone_One/PaytoneOne-Regular.ttf") format("truetype");
  }
  
@font-face { 
    font-family: "Nanum Pen";
    font-style: normal;
    font-display: fallback;
    src: 
      url("assets/fonts/Nanum_Pen_Script/NanumPenScript-Regular.ttf") format("truetype");
  }

/* GENERAL STYLES */

main {
    overflow-x: hidden;
    margin: 0;
    margin-top: 7rem;
}

/*LOGO*/

.logo {
  position: fixed;
  top: 1rem;
  left: 1.5rem;
  transition: 0.3s;

  &:hover {
    transform: scale(1.1);
  }
}

/*HEADER*/

header {
  position: fixed;
  width: 100vw;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  display: flex;
  inset: 0;
  height: min-content;
  z-index: 100;

  .header-content {
    font-family: 'Monomaniac One', 'Lexend', 'Arial', sans-serif;
    overflow-x: hidden;
    align-items: center;
    display: flex;
    gap: 2rem;
    width: 100%;
    margin-right: 1rem;
    justify-content: right;
  }
  
  .header-item {
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    letter-spacing: 0.05em;
    img{
  
    }
  }
}

/* FOOTER */

footer {
  position: fixed;
  bottom: 1.2rem;
  right: 2rem;
  img {
    filter: drop-shadow(0.15rem 0.15rem 0.1rem #00000020);
    position: relative;
  }
  &::before {
    content: "MAP";
    position: absolute;
    font-family: 'Lexend', 'Arial', sans-serif;
    font-size: 1.1rem;
    opacity: 0;
    top: 60%;
    left: 50%;
    transform: translate(-53%, -80%);
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  &:hover::before {
    opacity: 1;
    transition-delay: 0s;
    top: -10%;
  }
  
}

/* Class for  map icon animation */
.map-icon-animation {
  animation: pulse 1.2s infinite forwards;
}

@keyframes pulse {
  to, from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

/* COMMON STYLES */

.section-title {
  margin: 0;
  font-family: 'Paytone One', 'Lexend', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  font-size: 2.5rem;
  line-height: 5rem;
  letter-spacing: 0.05em;
  color: #CE6B4F;
}

.gradient-text {
    margin: 0;
    margin-bottom: -1%;
    text-align: center;
    font-family: 'Paytone One', 'Lexend', 'Arial', sans-serif;
    font-size: clamp(2.5rem, 8vw, 4rem) !important;
    letter-spacing: 0.06em;
    line-height: 122%;
    background: linear-gradient(93.69deg, #35ADE1 1.5%, #4FA1D4 21.54%, #C579AC 50.38%, #DE4E9A 95.85%, #FF2F93 99.27%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content-text {
  margin: 0;
  font-family: 'Lexend', 'Lexend', 'Arial', sans-serif;
  font-size: clamp(1.2rem, 1.4rem, 1.5rem);
  font-weight: 500;
  text-align: center;
}

.page-title {
    margin: 0;
    font-family: 'Monomaniac One', 'Lexend', 'Arial', sans-serif;
    text-transform: uppercase;
    font-size: clamp(2.5rem, 8vw, 4rem) !important;
    text-align: center;
    color: black;
}

.hero-image {
  position: relative;

  .hero-title {
    position: absolute;
    object-fit: contain;
    width: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.user-select-none{
  user-select: none;
}
.section-title{
}

a[title]:hover::after {
  content: attr(title);
  position: absolute;
  top: -100%;
  left: 0;
}