.hero {
    margin-inline: auto;
    width: 80%;

    .map {
        object-fit: cover;
        aspect-ratio: 16 / 7;
        width: 100%;
        border-radius: 16px;
        min-height: 400px;
        max-height: 600px;
    }
}

.intro-container {
    width: 100vw;

    .intro-title {
        font-family: 'Paytone One', 'Lexend', 'Arial', sans-serif;
        font-size: clamp(2rem, 8vw, 5rem) !important;
        text-align: center;
        letter-spacing: 0.3vw;
        font-weight: 100;
        line-height: 110%;
        padding-inline: 3rem;
        text-wrap: balance;
    }

    .character-container {
        height: min-content;
        width: 100%;
        display: flex;
        justify-content: center;
        padding-inline: max(2vw, 5rem) max(12vw, 5rem);
        gap: 6rem;

        .character-text {
            margin-block: auto;
            width: 50%;

            .character-description {
                padding-top: 5%;
                width: fit-content;
                text-wrap: balance;
            }

            .input-container {

                position: relative;

                input {
                    margin-top: 7px;
                    font-size: clamp(2rem, 6vw, 3rem);
                    width: 100%;
                    height: 60px;
                    font-weight: bold;
                    background: none;
                    border: none;
                    text-align: center;
                    color: black;
                    padding: 10px;
                    background-clip: none;
                    -webkit-background-clip: none;
                    -webkit-text-fill-color: black;

                    &::placeholder {
                        transition: opacity ease-out .15s;
                    }

                    &:focus {
                        outline: none;
                    }

                    &:focus::placeholder {
                        opacity: 0;
                    }
                }

                &::before {
                    content: '';
                    position: absolute;
                    width: min(18vw, 19rem);
                    aspect-ratio: 2/1;
                    bottom: 70%;
                    left: 29vw;
                    rotate: -10deg;
                    background-image: url(assets/icons/your_name_here.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    transition: transform 0.3s ease-in-out;
                    transform: scale(0);
                }

                &:has(input:invalid)::before {
                    transform: scale(1);
                    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
                }
            }
        }

        .character-image-small {
            margin-block: 2.5rem 2rem;
            display: none;
            justify-content: center;

            img {
                width: max(40%, 10rem);
            }
        }

        .character-image {
            display: flex;
            align-items: center;

            img {
                width: max(15rem, 16vw);
            }
        }
    }

    .objective-container {
        height: min-content;
        width: 100vw;
        display: flex;
        justify-content: center;
        padding-inline: max(15vw, 5rem) max(2vw, 5rem);
        margin-top: 6vh;
        gap: 4rem;

        .objective-image {
            display: flex;
            align-items: center;

            img {
                width: max(20rem, 25vw);
            }
        }

        .objective-image-small {
            margin-block: 3.5rem 2.5rem;
            display: none;
            justify-content: center;

            img {
                width: max(40%, 13rem);
            }
        }

        .objective-text {
            margin-block: auto;
            width: 50%;

            .objective-description {
                padding-top: 7%;
                width: fit-content;
                text-wrap: balance;
            }
        }

    }
}

.islands-container {
    overflow-x: hidden;
    margin-block: 6rem 6rem;
    margin-inline: 10vw;
    padding: 1rem 2rem;
    min-height: 520px;
    background: linear-gradient(180deg, rgba(53, 173, 225, 0.028) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(292.61deg, rgba(247, 0, 208, 0.05) 0%, rgba(21, 185, 255, 0.05) 100%);
    border-radius: 16px;


    .glide {
        position: relative;
        cursor: grab;

        &::after {
            content: "";
            position: fixed;
            top: var(--pseudo-before-top, 0);
            left: var(--pseudo-before-left, 0);
            pointer-events: none;
            width: var(--pseudo-before-width);
            height: 70px;
            background: linear-gradient(to right, #eef9fd, #eef9fdee, transparent, transparent, transparent, #f8f1fcee, #f8f1fc);
        }

        .glide-controls {
            height: fit-content;
            user-select: none;

            .previous,
            .next {
                z-index: 1;
                margin-top: -0.2rem;
                height: 80px;
                position: absolute;
                background: transparent;
                border: none;
                font-family: "Lexend", "Arial", sans-serif;
                cursor: pointer;
                font-weight: 900;
                opacity: 0.25;
                font-size: clamp(1.5rem, 8vw, 3rem);
                transition: 0.3s;

                &:hover {
                    opacity: 0.9;
                    transform: scale(1.1);
                }
            }

            .previous {
                left: 0%;
                transform-origin: left;
            }

            .next {
                right: 0%;
                transform-origin: right;
            }
        }

        .island-name {
            font-family: 'Paytone One', 'Lexend', 'Arial', sans-serif;
            text-align: center;
            font-size: clamp(1rem, 8vw, 2rem);
            line-height: 5rem;
            letter-spacing: 0.05em;
            transition: color 0.3s, font-size 0.3s;
        }

        .selected {
            color: var(--color);
            font-size: clamp(1.25rem, 7vw, 3.5rem);
            transition: color 0.3s, font-size 0.3s;

            &+.island-name,
            .island-name:has(+ &) {
                font-size: clamp(1.5rem, 8vw, 2.5rem);
            }
        }
    }

    .content-containers {
        display: flex;
        overflow: hidden;
        align-items: center;

        .content {
            position: relative;
            min-width: 100%;
            align-items: center;
            display: none;
            padding-block: 2.5rem 2rem;

            &.selected {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 2rem;
                animation: appear 1s ease-in-out forwards;

                .image-container {
                    opacity: 0;
                    animation: appearImage 0.7s ease-in-out forwards;
                }
            }

            .image-container {
                position: relative;
                opacity: 1;
                padding-left: 1rem;
                animation: disappear 1s forwards;
                max-width: 350px !important;
                user-select: none;
                width: 30%;

                img {
                    width: 100%;
                    filter: drop-shadow(#00000020 6px 6px 3px);
                }
            }

            .information-container {
                position: relative;
                margin-inline: 2rem;
                max-width: 50%;
                width: 100%;
                flex-grow: 1;

                .stats-container {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    margin-block: 0 2rem;
                    font-family: 'Lexend', 'Arial', sans-serif;
                    font-weight: 600;
                    gap: 2rem;

                    .time,
                    .temperature {
                        width: fit-content;
                        width: -moz-fit-content;
                        display: flex;
                        align-items: center;
                        position: relative;
                        font-size: clamp(1rem, 3vw, 1.2rem);

                        span.variable {
                            font-size: clamp(1.2rem, 3vw, 1.6rem);
                        }

                        img {
                            user-select: none;
                            width: 95%;
                            max-width: 45px;
                            margin-right: 0.4rem;
                        }
                    }
                }

                .story-container {
                    padding-left: 10%;

                    p {
                        font-size: clamp(1.1rem, 1.3vw, 2.2rem) !important;
                        text-wrap: balance;
                        text-align: left;
                        font-weight: 400;
                    }
                }

                .cta-container {
                    display: flex;
                    justify-content: end;
                    padding-right: 22%;

                    .cta-button-container {
                        padding: 5px;
                        padding-right: 35px;
                        padding-bottom: 12px;

                        .cta-button {
                            padding: 0;
                            display: inline-block;
                            text-decoration: none;
                            font-size: clamp(1.4rem, 1.3vw, 2.4rem) !important;
                            position: relative;
                            transition: padding 0.3s cubic-bezier(0.19, 1, 0.22, 1);

                            &::before {
                                content: '';
                                position: absolute;
                                width: 100%;
                                height: 2px;
                                border-radius: 5px;
                                left: 15%;
                                top: 100%;
                                background: #000;
                                transition: margin 0.3s cubic-bezier(0.19, 1, 0.22, 1);
                            }

                            &::after {
                                content: '';
                                position: absolute;
                                aspect-ratio: 1;
                                width: 0.5rem;
                                border-right: 3px solid #000;
                                border-top: 3px solid #000;
                                transition: margin 0.3s cubic-bezier(0.19, 1, 0.22, 1);
                                left: 110%;
                                top: 100%;
                                transform: translate(-50%, -40%) rotate(45deg);
                            }

                            &:hover,
                            &:focus {

                                padding-right: 0.2rem;

                                &::before,
                                &::after {
                                    margin-left: 0.7rem;
                                }
                            }

                            &:focus {
                                outline: none;
                            }
                        }
                    }

                    .cta-button-container:has(a:focus) {
                        border: black 2px solid;
                        border-radius: 3px;
                    }
                }
            }
        }
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes appearImage {
    from {
        opacity: 0;
        padding-right: 50px;
        padding-block: 12px;
    }

    to {
        opacity: 1;
        padding: 0;
    }
}

@media (width > 1000px) and (width < 1450px) {

    .glide .island-name {
        min-width: 10ch;
        padding-right: 20px;
    }
}

@media (width < 1000px) {

    .glide::after {
        background: linear-gradient(to right, #eef9fd, transparent 15% 95%, #f8f1fc) !important;
    }

    .glide-controls {

        .previous,
        .next {
            opacity: 0.8 !important;
        }
    }

    .content {

        .image-container {
            padding-left: unset !important;
            width: 80% !important;
            margin-block: -2rem;
        }

        .information-container {
            margin-block: 1rem;
            max-width: 90% !important;
        }
    }

    @keyframes appearImage {
        from {
            opacity: 0;
            padding-block: 15px;
        }

        to {
            opacity: 1;
            padding: 0;
        }
    }
}

@media (width < 900px) {

    .input-container::before {
        content: none !important;
    }

    .character-container,
    .objective-container {
        padding-inline: 2rem !important;

        .character-image,
        .objective-image {
            display: none !important;
        }

        .character-image-small,
        .objective-image-small {
            display: flex !important;
        }

        .character-text,
        .objective-text {
            width: 100% !important;
        }

        .character-description,
        .objective-description {
            padding-inline: 1.5rem;
            text-wrap: balance;
            text-align: left;
        }
    }

    .cta-container {
        margin-block: 1rem -2rem !important;
        justify-content: center !important;
        padding-right: 0 !important;
    }
}

@media (width < 505px) {

    .information-container {
        margin-inline: 0.8rem 1rem !important;
    }

    .stats-container {
        margin-block: 0 1.5rem !important;
        row-gap: 1rem !important;
    }

    .story-container {
        padding-left: 0 !important;
    }
}

@media (width > 400px) and (width < 900px) {

    .character-container,
    .objective-container {

        .character-description,
        .objective-description {
            text-align: center;
        }
    }
}
