.intro-container {
    width: 100vw;
    .character-container {
        height: min-content;
        width: fit-content;
        display: flex;
        gap: 6vw;
        margin: 0 auto;

        .character-text {
            margin-top: 12vh;
            width: 40vw;

            .character-description {
                padding-top: 5%;
                width: fit-content;
            }

            input {
                margin-top: 10px;
                font-size: 4rem;
                width: 100%;
                font-weight: bold;
                background: none;
                border: none;
                text-align: center;
                color: black;
                background-clip: none;
                -webkit-background-clip: none;
                -webkit-text-fill-color: black;

                &::placeholder {
                    transition: opacity ease-out .15s;
                }

                &:focus {
                    outline: none;
                }

                &:focus::placeholder {
                    opacity: 0;
                }
            }

            .popup-message {
                background: rgb(148,112,173);
                background: linear-gradient(180deg, rgb(224 202 238) 0%, rgb(236 157 225) 54%, rgb(255 104 205 / 89%) 100%);
                padding: 5px;
                position: fixed;
                bottom: 7%;
                right: 3%;
                height: 25%;
                width: 26%;
                transition: opacity 0.6s ease-in-out;
                z-index: 1;
                border-radius: 40px;
                border: solid 3px #94428e;
                opacity: 0;

                .popup-text{
                    text-wrap: balance;
                    margin: 0 auto;
                    font-size: 1.3rem;
                }

            }

        }
        .character-image {
            img {
                width: 88%;
            }
        }
    }

    .objective-container {
        height: min-content;
        width: fit-content;
        display: flex;
        gap: 6vw;
        margin: 0 auto;

        .objective-image {
            img {
                width: 88%;
            }
        }

        .objective-text {
            margin-top: 12vh;
            width: 40vw;

            .objective-description {
                padding-top: 5%;
                width: fit-content;
            }

        
        }
        
    }
}
