:root {
	--currentPercentage: 0;
	--currentPercentagePixels: 137px;
}

.total-progress {
    display: flex;
	flex-wrap: wrap;
    align-items: center;
	margin-block: 2rem 3rem;
	row-gap: 1.5rem;
	margin-left: 3rem  ;

	.progress-text-container {
		width: 50%;
		display: flex;
		justify-content: center;
		
		#final-trophy-text{
			min-width: 450px;
			max-width: 480px;
			text-align: center;
			text-wrap: balance;
			padding-left: 5rem;
		
			font-size: clamp(1.4rem, 2.4vw, 1.7rem);
		}
	}

	.final-trophy-container {
		width: 50%;
		min-width: 564px;
		display: flex;
		flex-wrap: wrap;
		padding-inline: 5% 20%;
		justify-content: flex-start;
		align-items: center;

		.final-trophy  {
			margin-left: 0;

			#porcentage-text{
				font-family: 'Lexend', sans-serif;
				font-weight: 600;
				padding-left: 1rem;
				font-size: clamp(2.5rem, 6vw, 3.8rem);
				
				&::before {
					position: relative;
					font-size: clamp(2.5rem, 6vw, 3.8rem);
					content: counter(percentage);
                    counter-reset: percentage var(--percentage);  
					animation: incrementPercentage 2s ease-in-out forwards;
				}
			}
			
			.golden-lock-container {
				position: relative;
				min-height: 101px;
				display: flex;
				align-items: center;
				gap: 2.5rem;

				#golden-lock {
					-webkit-mask-image: url('assets/icons/waves.svg#waveMask');
					mask-image: url('assets/icons/waves.svg#waveMask');
					mask-size: cover;
					mask-repeat: no-repeat;
					mask-position: 0 150px;
					animation: golden-lock-fill 2s ease-out forwards;
					user-select: none;
					margin-top: 5px;
					height: min(20vw, 9rem);
					min-height: 101px;
				}
				&::before {
					content: "";
					background: url("assets/icons/Lock (B&W).png");
					background-size: contain;
					background-repeat: no-repeat;
					position: absolute;
					inset: 0;
					opacity: 0.7;
					margin-top: 5px;
					width: 97%;
					height: 97%;
					filter: drop-shadow(#00000050 2px 2px 2px);
				}

			}
		}
	}
}

@property --percentage {
	syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}

@keyframes incrementPercentage {
	from {
		--percentage: 0;
	}
	to {
		--percentage: var(--currentPercentage); 
	}
}

@keyframes golden-lock-fill {
	to {
		mask-position: 0 var(--currentPercentagePixels);
	}
}

.progress-boxes {
    margin-inline: auto;
    display: flex;
	justify-self: center;
	flex-wrap: wrap;
	padding-inline: max(2rem, 8%);
	text-align: center;
	justify-content: center;
	align-content: center;
	margin-bottom: 3%;
	max-width: 1800px;

	.box {
		aspect-ratio: 1;
		width: 13rem;
		margin: min(1.2rem, 3vw);
		background: radial-gradient(#FFFFFF, #ececec);
		align-content: center;
		text-align: center;
		border-radius: 9px;
		padding-top: 1rem;
		user-select: none;
		position: relative;

		&:hover{
			p {
				opacity: 1;
			}
		}

		p {
			position: absolute;
			top: -10%;
			width: 100%;
			height: 100%;
			opacity: 0;
			transition: opacity 0.5s ease-in-out;
			border-radius: 9px;
			padding-top: min(2rem, 5vw);
			background: #000000aa;
			backdrop-filter: blur(5px);
			padding-inline: 1rem;
			text-wrap: pretty;
			color: #ffffff;
			font-family: 'Lexend', sans-serif;
			font-size: clamp(0.3rem, 3vw, 1.2rem);
			span {
				font-size: clamp(0.4rem, 3vw, 1.4rem) !important;
				font-weight: 700 !important;
				display: block;

				&.gradient-text {
					display: unset !important;
					font-size: clamp(0.5rem, 3.2vw, 1.2rem) !important;
					font-weight: 800 !important;
					line-height: unset !important;
					margin-bottom: unset !important;
					font-family: 'Lexend', 'Arial', sans-serif !important;
					letter-spacing: unset !important;
					line-height: unset !important;
				}
			}
		}

		.lock {
			user-select: none;
			margin-top: -15px;
			margin-inline: auto;
			height: 70%;
			display: block;
			pointer-events: none;
			filter: drop-shadow(#00000070 2px 2px 2px);

			&.enabled {
				animation: hide 0ms forwards;
			}
		}

		.lock-icon-animation {
			animation: heartBeat 1.5s infinite forwards;
		}

		.achievements {
			user-select: none;
			margin-top: -15px;
			margin-inline: auto;
			height: 70%;
			opacity: 0;
			display: none;
			filter: drop-shadow(#00000070 2px 2px 2px);
			transform: scale(1);
			transition: transform 0.45s cubic-bezier(0.175, 0.885, 0.32, 1.275);

			&:hover {
				transform: scale(1.05);
			}

			&.enabled {
				display: block !important;
				animation: shows 0.5s 0.4s forwards;
			}

			&#achievement-4 {
				width: 70% !important;
				height: unset;
				max-width: 150px;
			}
		}
	}
}

@keyframes hide{
	to {
		display: none;
	}
}

@keyframes shows{
	to {
		opacity: 1;
	}
}

@keyframes heartBeat{
	from, 50%, to { transform: translateX(0) }
	12%, 33% { transform: translateX(5px) }
	25% { transform: translateX(-5px) }
}

@keyframes shine {
	0% { background-position: 0 0;}
	100% { background-position: 1400px 0;}
}

@keyframes progress {
	0% { width: 0;}
	100% { width: var(--progress);}
}

@media (width < 600px){

	.box {
		width: 30vw !important;

		p span {
			margin-bottom: -3vw;
		}
	}
}

@media (width < 1176px) {

	.total-progress {
		margin-inline: 2rem 1rem !important;
		margin-block: 2rem 3rem!important;

		justify-content: center !important;
	}

	.progress-text-container {
		width: 100% !important;

		
		#final-trophy-text{
			padding-left: 0 !important;
			margin-inline: auto !important;
		}
		
		.content-text		{
			padding-left: 0 !important;

		}
	}

   .final-trophy-container {
		width: 100%;
		min-width: 0 !important;
		padding-inline: 0 !important;
		justify-content: center !important;
		margin:auto !important;

	}
}