/* GENERAL STYLES FOR ALL ISLANDS (USE SEPARATED CSS FILES FOR SPECIFIC STYLES) */

.hero {
    width: 80vw;
    margin-inline: auto;

    img {
        object-fit: cover;
        border-radius: 9px;
        width: 100%;
        min-height: 288px;
        max-height: 520px;
    }

    .stats {
        display: flex;
        margin-inline: auto;
        padding-block: 0.2rem 0.5rem;
        padding-inline: 1rem;

        .secrets-discovered {
            font-family: "Monomaniac One";
            margin-block: auto;
            font-size: clamp(1rem, 2vw, 2.5rem);
        }

        .time-played {
            font-family: "Monomaniac One";
            font-size: clamp(1rem, 1.5vw, 2rem);

            margin-left: auto;
            margin-top: auto;
        }

    }

    .island-description {
        margin-top: 2vw;
        margin-inline: max(1rem, 7vw);

        p {
            font-size: clamp(1.1rem, 1.6vw, 2.2rem);
            text-wrap: balance;
        }

    }

}

/*LOADER*/

.loader {
    position: fixed;
    z-index: 999999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgba(255, 255, 255);
    justify-content: center;
    align-items: center;
    animation: fadeOut 0s 0s forwards;
    /* TODO -> Set time back to 1.7s and delay to 1s*/

    p {
        font-size: 8rem;
        font-family: "Monomaniac One";
        color: black;
        text-align: center;
        justify-content: center;
        align-items: center;

        span {
            font-size: 15rem;
            background-image: linear-gradient(to right, red, orange, yellow);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

@keyframes fadeOut {

    0%,
    46% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

.story-container {
    margin-top: 5vw;

    .gradient-text {
        margin-inline: auto;
    }

    .conversation-container {
        margin-top: 7vw;
        height: 500vh;


        .characters {
            width: 80vw;
            height: 100%;
            display: flex;
            justify-content: space-between;
            margin-inline: max(2rem, 10vw);
            position: absolute;

            img {
                height: 25vw;
                position: sticky;
                top: 35vh;
                user-select: none;
            }
        }


        .speech-bubbles {
            max-width: 40vw;
            height: max-content;
            margin-inline: auto;
            --bg-color: #f4f5f5;

            .bubble {
                background-color: var(--bg-color);
                color: black;
                text-align: left;
                /* box-shadow: 5px 5px 13px 5px #0001, inset 0px 0px 0px 0px #0001, inset 0px 0px 0px 0px #0001; */
                border-radius: 10px;
                border: solid 3px #00000010;
                padding: 10px 20px;
                margin-top: 60px;
                font-size: clamp(0.5rem, 1.5vw, 1.3rem);
                line-height: 140%;
                max-width: 75%;
                opacity: 0;

                &.show {
                    animation: bubbleAppear 1s cubic-bezier(0.215, 0.610, 0.355, 1) forwards !important;
                }

                &.left {

                    transform-origin: bottom left;
                    padding-left: 35px;

                    &::before {
                        content: "";
                        position: absolute;
                        width: 10px;
                        height: 100%;
                        background-color: orange;
                        border: solid 3px #00000010;
                        border-right: none;
                        border-radius: 10px 0 0 10px;
                        top: -3px;
                        left: -3px;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        width: 40px;
                        height: 20px;
                        clip-path: polygon(100% 0, 0% 100%, 0 0);
                        background: linear-gradient(335deg, #e5e6e6 60%, var(--bg-color) 60%);
                        border-left: solid 3px #e5e6e6;
                        top: 99.99%;
                        left: 5%;
                    }
                }

                &.right {

                    transform-origin: bottom right;
                    margin-left: auto;
                    padding-right: 35px;

                    &::before {
                        content: "";
                        position: absolute;
                        width: 10px;
                        height: 100%;
                        background-color: lightseagreen;
                        border: solid 3px #00000010;
                        border-left: none;
                        border-radius: 0 10px 10px 0;
                        top: -3px;
                        right: -3px;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        width: 40px;
                        height: 20px;
                        clip-path: polygon(0 0, 100% 100%, 100% 0);
                        background: linear-gradient(25deg, #e5e6e6 60%, var(--bg-color) 60%);
                        border-right: solid 3px #e5e6e6;
                        top: 99.99%;
                        right: 5%;
                    }
                }
            }


        }
    }
}

@keyframes bubbleAppear {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media (width < 600px) {

    .time-played {
        margin-top: none !important;
        margin-block: auto;

    }
}

@keyframes speak {
    opacity: 1;
}